//colors
$primary-color: #1D2026;
$primary-color-light: #1F2329;
$secondary-color: #0473DC;
$secondary-color-light: #0E88FB;
$tertiary-color: #FFFFFF;
$quaternary-color: #02CBB1;
$body-text-color: #8A94A7;
$card-color: #2C3039;
