.header {
    background-color: $primary-color;
    padding: 2.5rem 0 5rem 22rem;
    z-index: 99;

    @include respond(tab) {
        padding: 2.5rem 0 5rem 3rem;
    }

    @include respond(phone) {
        padding: 2.5rem 1.5rem 5rem 2rem;
    }

    &-fig {
        @include respond(phone){
            display: none;
        }
    }


    &__main-content {
        display: flex;
        flex-direction: row;
        z-index: 9999;

        @include respond(phone) {
            flex-direction: column;
            justify-content: center;
        }

        &--text {
            margin-top: 14rem;
            padding-right: 10rem;
            z-index: 99999;

            @include respond(tab) {
                padding-right: 0;
                flex-basis: 50%;
            }

            @include respond(phone) {
                padding-right: 0;
            }
        }
    }

    &__logo-box {
        position: relative;
        z-index: 99999;
    }

    &__logo {
        width: 2.8rem;
    }

    &::before {
        content: "";
        background-color: $primary-color-light;
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0%, 100% 50vh, 0 90vh);
        z-index: 999;

        @include respond(tab) {
            display: none;
        }
    }
}


