.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $tertiary-color;
        font-weight: 600;
        border-radius: 0.4rem;
        display: inline-block;
        font-size: 1.5rem;
    }

    &--blue {
        background-image: linear-gradient(to right, $secondary-color 0%, $secondary-color-light 100%);
        
        &:hover {
            background-image: none;
            background-color: $tertiary-color;
            color: $primary-color;
        }
    }

    &--gray {
        background-color: lighten($primary-color-light, 2%);
    }
}
