.card {
    background-color: $primary-color-light;
    margin: 7rem 0 0 0;
    padding: 1rem 0;
    width: 80%;

    &___main {

        &:not(:last-child) {
            border-bottom: .3rem solid lighten($primary-color-light, 1%);
        }
        &__subheading {
            display: inline-block;
        }
    
        &__details {
           


        }
    }

    
}
