.card {
    text-align: left;
    margin: 0 auto;
    background-color: $card-color;
    padding: 2.5rem;


    &__main {

        margin-bottom: 0;

        &--price {
            padding-bottom: 1.5rem;
            @include createBottomBorder;
        }

        &--sub {
            font-weight: 600;
            padding: 2.5rem 0;
            @include createBottomBorder;
        }

        ul {
            list-style: none;
            
            li {
                text-align: left;
                padding: 1.5rem 0 1.5rem 0;
                @include createBottomBorder;

            }
        } 

        &--icon {
            color: $quaternary-color;
            padding-right: 1rem;
        }
    }
    
    &__cta {
        
    }
}

.dollar {
    font-size: 3.8rem;
}


