body {
    color: $body-text-color;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.heading {
    &-primary {
        color: $tertiary-color;
        font-size: 4.4rem;
        line-height: 1.2;
    }

    &-secondary {
        color: $tertiary-color;
    }
}

.body-text {
    font-size: 1.8rem;
    line-height: 1.6;
}

.body-text--bigger {
    font-size: 2rem;
}
