.u-margin-top-extra-small {
    margin-top: 1rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-extra-small {
    margin-bottom: 1rem;
}

.u-margin-right-extra-small {
    margin-right: 1rem;
}