.section-features {
    padding: 1rem 15rem;
    margin-bottom: 7rem;
}

.section-preorder{
    margin: 0 20rem;
    padding: 0 20rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

