.section-features {
    padding: 1rem 15rem;
    margin-bottom: 7rem;
}

.section-preorder {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 20rem;

    &__heading {
        padding: 0 25rem;
        line-height: 1.5;
    }
}

